@media only screen and (max-width: 992px) {

    .nav-link {
        padding-left: 10px !important;
    }

    .banner-content {
        top: 45.5px !important;
    }

    .nav-space {
        height: 45.5px;
    }

    #rs-productList {
        display: block !important;
    }

    .itemlist {
        justify-content: center;
    }

    .itemlist .card {
        width: 265px;
        height: 320px;
        transition: 0.2s ease-in;
    }

    .product_list_card {
        height: 200px;
    }
    .itemlist .price ,  .itemlist .des  {
        display: none;
    }

    .cate-select-group {
        width: 100%;
    }

    .myorder-tab span {
        display: none;
    }
}


.bottom-price {
    display: none;
}

@media only screen and (max-width: 680px) {

    .order-item .col,
    .order-item .col-7 {
        /* width: 100% !important; */
    }

    .option-detail {
        display: none;
    }

    .itemlist .card {
        width: 235px;
        transition: 0.2s ease-in;
    }

    .allproduct-preview {
        width: 8em;
        margin: 10px !important;
    }

    .chat-windows {
        width: 320px;
    }
}


@media only screen and (max-width: 390px) {

    .order-item .col,
    .order-item .col-7 {
        /* width: 100% !important; */
    }

    .option-detail {
        display: none;
    }

    .itemlist .card {
        width: 165px;
        transition: 0.2s ease-in;
    }

    .allproduct-preview {
        width: 8em;
        margin: 10px !important;
    }

    .chat-windows {
        width: 320px;
    }
}