@media only screen and (max-width: 992px) {

    .nav-link {
        padding-left: 10px !important;
    }

    .banner-content {
        top: 45.5px !important;
    }

    .nav-space {
        height: 45.5px;
    }

    #rs-productList {
        display: block !important;
    }

    .itemlist {
        justify-content: center;
    }

    .itemlist .card {
        width: 265px;
        height: 320px;
        transition: 0.2s ease-in;
    }

    .product_list_card {
        height: 200px;
    }

    .itemlist .price,
    .itemlist .des {
        display: none;
    }

    .cate-select-group {
        width: 100%;
        display: flex !important;
        justify-content: center;
    }

    .cate-button {
        margin: 0 0.5em !important;
    }

    .myorder-tab span {
        display: none;
    }
}


.bottom-price {
    display: none;
}

@media only screen and (max-width: 680px) {
    p,
    span,
    b,
    s,
    a,
    li {
        font-size: 16px;
    }

    .order-item .col,
    .order-item .col-7 {
        /* width: 100% !important; */
    }

    .option-detail {
        display: none;
    }

    .itemlist .card {
        width: 235px;
        transition: 0.2s ease-in;
    }

    .allproduct-preview {
        width: 8em;
        margin: 10px !important;
    }

    .chat-windows {
        width: 80vw;
    }
}


@media only screen and (max-width: 435px) {

    .order-item .col,
    .order-item .col-7 {
        /* width: 100% !important; */
    }

    .option-detail {
        display: none;
    }

    .itemlist .card {
        width: 165px;
        transition: 0.2s ease-in;
    }

    .itemlist h5 {
        font-size: 16px;
    }

    .allproduct-preview {
        width: 8em;
        margin: 10px !important;
    }

    .chat-windows {
        width: 90vw;
    }
}

@media only screen and (max-width: 435px) {
    .itemlist .card {
        width: 145px;
    }

}