@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Kanit&display=swap');
@import "/css/animation.css";

* {
    font-family: 'Kanit', sans-serif;
}

/* Navbar */
.navtoptap {
    width: 100%;
    height: 50px;
    background-color: #588cb3;

}

.navbar {
    background-color: rgba(255, 255, 255, 0.868);
    backdrop-filter: blur(5px);
}

.navbar .active {
    color: white !important;
    background-color: #006dbd;
    box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.212);
}


.navbar .dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.navbar .nav-link {
    transition: 0.1s;
    border-radius: 8px;
}

.navbar .nav-link::after {
    transition: width .3s;
    content: '';
    display: block;
    width: 0;
    border-bottom: 4px solid #006dbd;
}

.navbar .nav-link:hover::after {
    transition: 0.2s;
    width: 100%;
    /* background-color: #588cb3; */
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.341); */
}

.nav-link:hover a {
    color: white !important;

}

.btn-primary {
    background-color: #006dbd !important;
}

.mini-profile {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
}

.mini-profile img {
    width: 100%;
    object-fit: cover;
}

.line {
    color: white;
    margin: 0.75em;
    text-decoration: none;
}

.fa-line {
    color: #06c755;
}

.navmenu {
    margin: auto;
}

.navusermenu {
    margin: auto 0 auto auto;
}

.navbar {
    /* height: 120px; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.389);
    z-index: 5;
}

.sign-in::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f2f6"
}

/* หน้าแรก */
.carousel-inner {
    background: linear-gradient(0deg, rgba(255 255 255 / 54%), rgba(255 0 150 / 69%)) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.homed {
    text-align: center;
    padding: 5em;
}

.waves {
    width: 100%;
    position: absolute;
}

.wrap-home-content {
    width: 100%;
    height: 550px;
    background-color: #f4f4f4;
    text-align: center;
    padding: 2em;
}

.card {
    margin: 1rem;
}

.card img {
    height: 100%;
    width: 100%;
}

/* Login */
.login {
    display: flex;
    width: 75%;
    margin: auto;
}

.login form {
    width: 50%;
    padding: 2em;
}

.other-login {
    width: 50%;
    padding: 5em 2em;
    display: block;
}

.login-fb {
    background-color: #5771bb;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 3px 5px rgba(142, 142, 142, 0.473);
    width: 250px;
    height: 40px;
    margin-bottom: 1em;
}

.login-fb p,
.login-google p {
    margin: 0;
}

.login-google {
    padding-right: 1.5em;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 3px 5px rgba(142, 142, 142, 0.473);
    width: 250px;
    height: 40px;
    justify-content: center;
}

.login-fb p::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f09a";
    margin-right: 10px;
    font-size: 20px;
}

.line-or {
    border-left: 2px solid rgb(209, 209, 209);
    height: 310px;
    top: 0;
}

.line-or span {
    position: absolute;
    top: auto;
}

/* Footer */

footer {
    margin-top: 350px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.389);
}

/* product */
.banner {
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
}

.banner-content {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 116px;
    left: 0;
    background: rgba(57, 57, 57, 0.5);
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list {
    border: 1px solid rgb(199, 199, 199);
    padding: auto;
}

.cate-select-group {
    background-color: white;
    width: 300px;
    height: 400px !important;
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
}

.cate-button {
    background-color: white;
    width: 90%;
    cursor: pointer;
    padding: 5px;
    margin: auto;
    box-shadow: 0 0 10px #0000002f;
    border-radius: 5px;
}

.cate-button:hover {
    transition: 0.2s;
    border-left: solid 5px #006dbd;
}


.cate-active {
    border-left: solid 5px #006dbd;
}

.itemlist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
    justify-content: start;
    margin: 0 2em;
}

.itemlist .card {
    width: 270px;
    height: 450px;
    transition: 0.2s ease-in;
}

.itemlist .card:hover {
    transition: 0.1s ease-out;
    border: 2px solid #37648678;
    border-radius: 0;
}


.product_list_card {
    overflow: hidden;
    height: 250px;
}


.product_list_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* scale: 1;
    transition: 0.4s ease-in-out; */
}

/* #cardSection, #flyerSection, #leafletSection, #stickerSection, #billSection, #letterSection {
    display: none;
} */

/* ตั้งค่าบัญชี */
/* .setting-button {
    list-style: none;
    padding: 1em;
    box-shadow: 1px 1px 5px rgba(171, 171, 171, 0.229);
} */
.setting-user {
    width: 20%;
}

.setting-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    width: 80%;
}

.profile-box {
    /* background-color: #5771bb; */
    width: 300px;
    margin: 3em 1.5em;
    text-align: center;
}

.profile {
    margin: auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    margin-bottom: 10px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-box p {
    color: rgb(154, 154, 154);
    font-size: 12px;
    margin: 5px 10px 0;
}

.imageFitBox {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* หน้าในสินค้า */
.left-box-product {
    width: 40%;
}

.right-box-product {
    width: 60%;
}

.left-box-product .productPic {
    height: 250px;
    overflow: hidden;
    border: 2px solid rgb(221, 221, 221);
}

.select-conclusion {
    height: fit-content;
    border: 2px solid rgb(221, 221, 221) !important;

}

.radio-choice {
    border: 1px solid rgb(173, 173, 173);
    width: 100%;
    height: 80px;
}

.option-select {
    display: flex;
    padding: 1px;
}



.product_name {
    width: 100%;
    height: 40px;
    top: 70%;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.428);
    backdrop-filter: blur(3px);
    position: absolute;
}

.des-question {
    display: none;
    background-color: white;
    position: absolute;
    width: 300px;
    height: 100px;
    box-shadow: 1px 5px 15px #0000003c;
    transition: 0.2s;
    transform: translateX(20px) translateY(-60px);
    z-index: 3;
    font-size: 16px;
    padding: 10px;
}

.fa-circle-question:hover+.des-question {
    display: inline;
    transition: 0.2s;
}

/* Nav admin */

.nav-admin {
    top: 0;
    position: fixed;
    display: block;
    background-color: white;
    width: 300px;
    height: 100vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.239);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.admin-navlink {
    display: flex;
    color: black;
    padding: 10px 3em;
    align-self: center;
}

#mini-nav-btn {
    cursor: pointer;
}

.mini-nav {
    width: 100px !important;
}

.admin-navlink:hover {
    width: 100%;
    color: white;
    background-color: #006dbd;
    border-right: solid 5px #2ea8ff;
    transition: 0.2s;
}


.admin-navlink i {
    width: 30px;
    margin-right: 15px;
    align-self: center;
}

.admin-navlink p {
    margin-top: 1em;
}

.admin-nav-active {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.179);
    border-right: solid 5px #d3eafc;
}

.secondHead-admin {
    position: absolute;
    width: 100%;
    height: 35vh;
    background-color: #006dbd;
    background: linear-gradient(90deg, rgba(0, 26, 45, 1) 0%, rgba(35, 133, 204, 1) 50%, rgba(0, 109, 189, 1) 100%);
    padding: 2em;
    color: white;
    z-index: -1;
}

.secondHead-content {
    margin-left: 300px;
    padding: 3em;
}

/* ระบบแอดมิน */



.box-admin {
    /* background-color: #5771bb; */
    margin-left: 300px;
    padding: 2em 5em;
}


.product-picture {
    width: 30px;
    height: 50px;
    overflow: hidden;
}

.product-picture img {
    object-fit: cover;
}

.product-preview-upload .option-img {
    height: 160px;
}

.product-preview-upload .option-img .fa-plus {
    margin: 1.5em 1em;
}

.option-img {
    width: 120px;
    height: 89px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
}

.option-img .fa-plus {
    position: absolute;
    font-size: 40px;
    margin: 0.55em 1em;
}

.option-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.option-img input[type="file"] {
    width: 120px;
    height: 89px;
    opacity: 0;
    position: absolute;
    /* z-index: -1; */
}

.product-cate {
    width: 200px !important;
    height: 250px;
    margin: 10px auto;
    padding: 0 !important;
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.285);
}


.product-cate .type-name {
    position: absolute;
    width: 200px;
    height: 50px;
    backdrop-filter: blur(10px);
    background-color: #37648648;
    text-align: center;
    top: 40%;
    color: white;
    transition: 0.2s ease-out;
}

.product-cate span {
    position: absolute;
    width: 200px;
    top: 40%;
    font-size: 22px;
    color: white;
    z-index: 2;
    text-align: center;
    margin-top: 10px;
}

.product-cate:hover .type-name {
    top: 5%;
    height: 250px;
    transition: 0.2s ease-in;
}

/* หน้าจัดการตัวเลือกวัสดุ */
.option-admin-card {
    width: 250px;
}

.option-admin-card .card-body {
    height: 250px;
}

.option-action {
    position: fixed;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.2s;
}

.option-action button {
    width: 125px;
}

.option-admin-card :hover .option-action {
    display: flex;
    transition: 0.2s;
}

.option-action-img {
    width: 100%;
    height: 200px;
}

.ms-choice {
    height: 35px !important;
}


.ms-choice .placeholder {
    background-color: #00000000;
}

.ms-choice span {
    height: 35px !important;
    padding: 5px;
}

.remove-spec {
    right: 0;
    margin-right: 2em;
}

.sub-option-row {
    height: 90px;
}

/* ตัวอย่างงาน */

.btn-ex-cat {
    background: #eaeaea;
    padding: 5px 10px;
    margin: 10px 0px 10px 10px;
    border-radius: 2px;
    transition: 0.2s;
}

.btn-ex-cat:hover {
    background: #d7d7d7;
    transition: 0.2s;
}

.example-pic {
    width: 300px;
    height: 400px;
    margin-right: 1em;
}

/* แชทฝั่งแอดมิน */
.chat-list {
    width: 40%;
}

.user-box {
    width: 320px;
    height: 120px;
    background-color: white;
    box-shadow: 0px 5px 15px #67676782;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.user-box:hover {
    transition: 0.2s ease-in;
    border-left: 5px solid #006dbd;
    background-color: rgb(244, 244, 244);
}

.chat-pf {
    width: 80px;
    height: 80px;
    margin: 1.25em;
    border-radius: 100%;
    overflow: hidden;
}

.chat-pf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chatbox {
    display: none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px #67676782;
}

.message-wrap {
    position: relative;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.message-box-left {
    position: absolute;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 1em 1em 0;
    left: 0;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #6767671d;
}

.message-box-right {
    position: absolute;
    background-color: #588cb3;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 1em 1em 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #6767671d;
}

.input-message-wrap {
    position: relative;
    width: 100%;
    height: 50px;
}

.text-message {
    width: 96%;
    margin: 10px;
    border: 0.5px solid #b3b3b3;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #6767671d;

}

.input-message {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.message {
    height: 79%;
    overflow-x: auto;
}

.chat-action {
    position: relative;
    transform: translateX(-10px);
}

/* แชท user */
.chat-button {
    position: fixed;
    width: 80px;
    height: 80px;
    margin: 1em;
    background-color: #006dbd;
    border-radius: 100%;
    /* z-index: 10; */
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    box-shadow: 0px 5px 10px #35353568;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.chat-button:hover {
    background-color: rgb(39, 91, 130);
}

.chat-windows {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    width: 600px;
    height: 600px;
    margin-right: 20px;
    box-shadow: 0px 5px 15px #67676782;
    z-index: 10;
}

.slideTop {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slidedown {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.upload-img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
    margin: auto;
}

.upload-img input[type="file"] {
    width: 30px;
    height: 30px;
    opacity: 0;
    position: absolute;
    z-index: 4;
    transform: translateX(-27px);

}

.chat-noti {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    background-color: rgb(237, 0, 0);
    border-radius: 20px;
}

.close-chat {
    background: white;
    width: 35px;
    height: 35px;
    margin: 1em;
    border-radius: 20px;
    border: 1px solid #bababa;
}

.send-ms {
    background: none;
    border: none;
}

.send-ms:hover i {
    color: #b6bccf;
}

.cart-box {
    height: 300px !important;
}

.cart-product-picture {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.cart-product-picture+div {
    margin-left: 200px;
}

/* datatable */
.paginate_button {
    /* margin: 10px; */
}

.dataTables_length,
.dataTables_filter {
    margin-bottom: 1em;
}

#table {
    border-bottom: solid 1px #c1c1c1a7 !important;
    margin: 2em 0 !important;
}

.dataTable tr {
    border: solid 1px #c1c1c1a7;
}


#product-btn .fa-caret-down {
    position: absolute;
    right: 0;
    width: fit-content;
    margin-right: 2em;
}

.rotate {
    transform: rotate(180deg);
}