<%- include('../partials/header') %> 
<body>
  <!-- <h1>Hello, </h1> -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img src="assets/img/large-format-digital-printing.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/13257093993_5e605d966d_z.jpg" class="d-block w-100" alt="...">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="homed">
        <h5>โรงพิมพ์ Cilpart Press บริการสิ่งพิมพ์คุณภาพ ด้วยประสบการณ์กว่า 30 ปี
            ด้วยกระบวนการ Print On Demand</h5>
      </div>
      <div class="wrap-home-content">
        <h4>ผลิตภัณฑ์ของเรา</h4>
        <div class="container-lg d-sm-flex mt-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/บิล.jpg" class="card-img-top" alt="..." draggable="false">
                <div class="card-body">
                  <p class="card-text">บิล</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="assets/img/สติ๊กเกอร์.jpg" class="card-img-top" alt="..." draggable="false">
                <div class="card-body">
                  <p class="card-text">สติ๊กเกอร์</p>
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <img src="assets/img/ซองจดหมาย.jpg" class="card-img-top" alt="..." draggable="false">
                <div class="card-body">
                  <p class="card-text">ซองจดหมาย</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="assets/img/stockcard.jpg" class="card-img-top" alt="..." draggable="false">
                <div class="card-body">
                  <p class="card-text">สต๊อกการ์ด</p>
                </div>
              </div>
          </div>
      </div>

    
</body>

<%- include('../partials/footer') %> 