<%- include('../partials/header') %>

<body>
    <div class="container-lg mt-5 mb-5 p-auto">
        <div>
            <% if(error_msg != "") { %>
            <% error_msg.forEach((item) => { %>
            <div class="alert alert-danger">
                <%- item %>
            </div>
            <% }); %>
            <% } %>
        </div>
        <div class="w-50 m-auto">
            <h3 class="mb-3">รีเซ็ตรหัสผ่าน</h3>
            <form method="post" action="/resetpassword?token=<%=token%>">
                <!-- username input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form1Example1" class="form-control" name="password" value="" />
                    <label class="form-label" for="form1Example1">รหัสผ่านใหม่</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="form1Example1" class="form-control" name="confirmPw" value="" />
                    <label class="form-label" for="form1Example1">ยืนยันรหัสผ่านใหม่</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">ยืนยัน</button>
            </form>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>