<%- include('../partials/header') %>

<body>
    <div class="container-lg mt-5 mb-5 p-auto">
        <div class="w-75 m-auto">
            <div class="card py-5">
                <div class="card-body text-center">
                    <img src="/assets/img/communication.png" alt="" style="width: 150px !important;" draggable="false">
                  <div class="mt-4">
                    <h2>สมัครสมาชิกสำเร็จ</h2>
                    <p>ระบบได้ส่งลิ้งค์ยืนยันบัญชีไปทางอีเมลแล้ว</p>
                    <a href="/login">
                        <button class="btn btn-primary">กลับไปหน้าเข้าสู่ระบบ</button>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>