<%- include('../partials/header') %>

<body>
    <div class="container-lg mt-5 mb-5 p-auto">
        <div class="w-75 m-auto">
            <div class="card py-5">
                <div class="card-body text-center">
                    <img src="/assets/img/check.png" alt="" style="width: 150px !important;" draggable="false">
                  <div class="mt-4">
                    <h2>รีเซ็ตรหัสผ่านแล้ว</h2>
                    <p>ตอนนี้คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ได้แล้ว</p>
                    <a href="/login">
                        <button class="btn btn-primary">กลับไปหน้าเข้าสู่ระบบ</button>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>