<%- include('../../partials/admin-nav') %>

<body>
    <div class="mb-5 secondHead-admin">
        <div class="secondHead-content">
            <h1>เพิ่มสินค้า</h1>
            <ol class="list-unstyled d-flex ">
                <li class="breadcrumb-item"><a class="link-light" href="#">หน้าแรก</a></li>
                <li class="active text-light ms-2">/ สินค้า</li>
                <li class="active text-light ms-2">/ เพิ่มสินค้า</li>

            </ol>
        </div>
    </div>
    <div style="padding-bottom: 150px;"></div>
    <div class="box-admin">
        <% if(success_msg != "") { %>
        <% success_msg.forEach((item) => { %>
        <div class="alert alert-success">
            <%- item %>
        </div>
        <% }); %>
        <% }else if(errors != "") {%>
        <% errors.forEach((item) => { %>
        <div class="alert alert-danger">
            <%- item %>
        </div>
        <% }); %>
        <% } %>
        <form action="/addproduct" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>รายละเอียดสินค้า</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div class="product-preview-upload me-4">
                            <div class="option-img ">
                                <i class="fa-solid fa-plus"></i>
                                <input type="file" name="imgproduct" id="imgproduct" onchange="previewImage(event, [0])"
                                    accept="image/png, image/jpeg" multiple />
                                <img src="https://www.solidbackgrounds.com/images/950x350/950x350-white-solid-color-background.jpg"
                                    alt="" id="option_preview[0]" draggable="false" class="img_option">
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col p-0">
                                <div class="form-outline">
                                    <input type="text" id="product-name" class="form-control" name="product_name"
                                        required />
                                    <label class="form-label" for="form6Example1">ชื่อสินค้า</label>
                                </div>
                            </div>

                            <div class="col">
                                <!-- <label class="form-label" for="inlineFormSelectPref">ประเภท</label> <br> -->
                                <select class="form-select" style="height: 35px;" name="categories">
                                    <option value="card">นามบัตร</option>
                                    <option value="flyer">ใบปลิว</option>
                                    <option value="flyer">แผ่บพับ</option>
                                    <option value="sticker">สติ๊กเกอร์</option>
                                    <option value="bill">ใบบิล</option>
                                    <option value="letter">ซองจดหมาย</option>
                                </select>
                            </div>

                            <div class="col">
                                <!-- <label class="form-label" for="inlineFormSelectPref">สถานะ</label> <br> -->
                                <select class="form-select" style="height: 35px;" name="status">
                                    <option value="1">เปิดรับทำ</option>
                                    <option value="0">งดรับทำ</option>
                                </select>
                            </div>

                            <!-- Message input -->

                            <div class="w-100 ps-0 mt-2">
                                <!-- Message input -->
                                <div class="form-outline ">
                                    <textarea class="form-control" id="description" rows="4" name="description"
                                        required></textarea>
                                    <label class="form-label" for="description">รายละเอียดสินค้า</label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดส่วนลด</h4>
                </div>
                <div class="card-body">
                    <div class="row row-cols-lg-auto mb-4">
                        <div class="col">
                            <label class="form-label" for="dc-num">ส่วนลด(%)</label> <br>
                            <input type="number" id="discount" class="form-control" name="discount" value="0" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="dc-start">วันที่เริ่ม</label> <br>
                            <input type="datetime-local" id="dc-start" class="form-control" name="dc_start" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="dc-end">วันที่สิ้นสุด</label> <br>
                            <input type="datetime-local" id="dc-end" class="form-control" name="dc_end" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดราคาเหมาตามปริมาณ</h4>
                </div>
                <div class="card-body">
                    <div class="row row-cols-auto mb-4">
                        <div class="col d-flex">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="minqt[0][]" required>
                                <label class="form-label">จาก</label>
                            </div>
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="maxqt[0][]" required>
                                <label class="form-label">ถึง</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="spec-name form-control" name="priceTier[0][]" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" id="add-price" class="btn btn-secondary">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div id="newPriceRow"></div>
                </div>
            </div>

            <div class="card">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดราคาเหมาตามขนาด</h4>
                </div>
                <div class="card-body">
                    <div class="row row-cols-auto mb-4">
                        <div class="col d-flex">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="form-control" name="minsize[0][]" required>
                                <label class="form-label">หน่วยขนาด</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="form-control" name="priceSize[0][]" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" id="add-size" class="btn btn-secondary">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div id="newSizeRow"></div>
                </div>
            </div>

            <!-- <div class="card mb-4 spec" id="spec">
                <div class="mx-4 mt-4 border-bottom">
                    <h4>กำหนดสเปคสินค้า</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="form-outline me-2" style="width: 200px;">
                            <input type="text" class="spec-name form-control" name="spec_name[0][]" required>
                            <label class="form-label">ชื่อสเปค</label>
                        </div>
                        <select multiple="multiple" class="option-checkbox w-100" name="option[0][]" multiple>
             
                        </select>
                        <button type="button" id="add-spec" class="btn btn-secondary mx-2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div id="newRow"></div>
                </div>
            </div> -->
            <button type="submit" class="btn btn-primary btn-block my-5 float-end" style="width: 150px;">ยืนยัน</button>
        </form>
    </div>

    <script>
        $('.option-checkbox').multipleSelect({
            filter: true,
            keepOpen: true,
            placeholder: 'เลือกวัสดุที่ใช้กับสเปคนี้'
        })

        function previewImage(event, index) {
            var input = event.target;
            var imgPreview = document.getElementById('option_preview[' + index + ']');
            console.log(imgPreview)
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
            }
        }
        var quantityCount = 0;
        var sizeCount = 0;
        var img = 0

        $('#add-price').on('click', function () {
            quantityCount++
            var newPriceRow = `
            <div class="row row-cols-auto mb-4 newPrice">
                        <div class="col d-flex">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="minqt[${quantityCount}][]" required>
                                <label class="form-label">จาก</label>
                            </div>
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="spec-name form-control" name="maxqt[${quantityCount}][]" required>
                                <label class="form-label">ถึง</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="spec-name form-control" name="priceTier[${quantityCount}][]" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger remove-price"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                    </div>
          `;

            $('#newPriceRow').append(newPriceRow);
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });
        })


        $('#add-size').on('click', function () {
            sizeCount++
            var newrow = `
            <div class="row row-cols-auto mb-4 newSize">
                        <div class="col d-flex">
                            <div class="form-outline w-50 me-2">
                                <input type="text" class="form-control" name="minsize[${sizeCount}][]" required>
                                <label class="form-label">หน่วยขนาด</label>
                            </div>
                            <div class="form-outline w-50">
                                <input type="text" class="form-control" name="priceSize[${sizeCount}][]" required>
                                <label class="form-label">ราคา</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger remove-size"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                    </div>
          `;

            $('#newSizeRow').append(newrow);
            document.querySelectorAll('.form-outline').forEach((formOutline) => {
                new mdb.Input(formOutline).init();
            });
        })

        // $('#add-spec').on('click', function () {
        //     specCount++;
        //     var newSpecCard = `
        //         <div class="d-flex justify-content-between mb-2 newcard ">
        //           <div class="form-outline me-2" style="width: 200px;">
        //             <input type="text" name="spec_name[${specCount}][]" class="spec-name form-control" required>
        //             <label class="form-label">ชื่อสเปค</label>
        //           </div>
        //           <select multiple="multiple" class="option-checkbox w-100" name="option[${specCount}][]" multiple>
        
        //             </select>
        //           <button type="button" class="btn btn-danger remove-spec mx-2"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
        //         </div>
        //   `;
        //     $('#newRow').append(newSpecCard);
        //     document.querySelectorAll('.form-outline').forEach((formOutline) => {
        //         new mdb.Input(formOutline).init();
        //     });
        //     $('.option-checkbox').multipleSelect('refreshOptions', {
        //         filter: true,
        //         keepOpen: true,
        //         placeholder: 'เลือกวัสดุที่ใช้กับสเปคนี้'
        //     });
        // });

        document.querySelectorAll('.form-outline').forEach((formOutline) => {
            new mdb.Input(formOutline).init();
        });

        $('#newPriceRow').on('click', '.remove-price', function () {
            $(this).closest(`.newPrice`).remove();
        });

        // $('#newRow').on('click', '.remove-spec', function () {
        //     $(this).closest(`.newcard`).remove();
        // });

        $('#newSizeRow').on('click', '.remove-size', function () {
            $(this).closest(`.newSize`).remove();
        });
    </script>

</body>

</html>